@tailwind base;
@tailwind components;
@tailwind utilities;

.uploadcare--widget__button_type_open {
	--tw-bg-opacity: 1;
	background-color: rgb(29 78 216 / var(--tw-bg-opacity));
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	padding-top: 0.625rem /* 10px */;
	padding-bottom: 0.625rem /* 10px */;
	padding-top: 0.625rem /* 10px */;
	padding-bottom: 0.625rem /* 10px */;
	display: none;
}

.uploadcare--widget__button_type_open:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(30 64 175 / var(--tw-bg-opacity));
	cursor: pointer;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	padding-top: 0.625rem /* 10px */;
	padding-bottom: 0.625rem /* 10px */;
	padding-top: 0.625rem /* 10px */;
	padding-bottom: 0.625rem /* 10px */;
}

.uploadcare--widget {
	display: none;
}
